@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
/* 
- Mobile: 375px - Desktop: 1440px (My laptop 1920px)
500px, 600px, 700px, 800px, 1000px
*/
/* Global Mobile************************/
:root {
  --shade-purple: hsl(260, 30%, 14%);
  --shade-borderblue: hsl(204, 63%, 47%);
  --shade-seablue: hsl(212, 51%, 62%);
  --shade-waterblue: hsl(211, 45%, 76%);
  --shade-lightcream: hsl(40, 19%, 95%);
  --shade-lightgray: hsl(0, 0%, 80%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  utline: 1px solid black;
}
html {
  width: 100%;
  height: auto;
}
body {
  width: 100%;
  height: auto;
  font-family: "League Spartan", "Trebuchet MS";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--shade-waterblue);
}
main {
  width: 375px;
  height: auto;
  display: grid;
  grid-template: 2fr auto 1fr / auto;
  grid-template-areas:
    "one"
    "two"
    "three";
  padding: 1rem;
  gap: 0.2rem;
}
/* Header ************************/
header {
  grid-area: one;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--shade-seablue);
  color: white;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.2rem;
}
.header-img {
  width: 5rem;
}
select {
  font-size: 1.3rem;
  padding: 0.2rem;
  border: 0.2rem solid var(--shade-purple);
  border-radius: 0.2rem;
  color: var(--shade-purple);
}
select:hover {
  cursor: pointer;
}
/* Header 800 ************************/
menu {
  font-size: 1.3rem;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
li {
  list-style: none;
  background-color: var(--shade-purple);
  padding: 0.3rem 0.4rem;
  border-radius: 0.2rem;
}
li:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: hsl(300, 24%, 76%);
}
/* Section ************************/
#sec-home {
  grid-area: two;
  display: grid;
  grid-template: 3fr 5fr / auto;
  grid-template-areas:
    "sec-one"
    "sec-two";
  border-radius: 0.2rem;
  color: var(--shade-purple);
}
article {
  grid-area: sec-one;
  background-color: var(--shade-lightcream);
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
aside {
  width: 60%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
h1 {
  font-size: 1rem;
}
span {
  font-size: 1.2rem;
}
h2 {
  font-size: 1rem;
}
#traez {
  width: 6.75rem;
  border-radius: 0.2rem;
  border: 0.2rem solid var(--shade-purple);
}
#art-div {
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
nav {
  grid-area: sec-two;
  background-color: var(--shade-lightgray);
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1f;
  grid-template-areas:
    "up up up up lo lo lo lo"
    "up up up up lo lo lo lo"
    "up up up up lo lo lo lo"
    "te1 te1 te1 te1 te2 te2 te2 te2"
    "ba2 ba2 co co co co ba3 ba3"
    "ba2 ba2 co co co co ba3 ba3"
    "ba2 ba2 co co co co ba3 ba3"
    "ba4 te3 te3 te3 te3 te3 te3 ba5"
    "ba4 te3 te3 te3 te3 te3 te3 ba5";
}
#nav-up {
  grid-area: up;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#nav-up-te {
  grid-area: te1;
  width: 100%;
}
#nav-lo {
  grid-area: lo;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#nav-lo-te {
  grid-area: te2;
  width: 100%;
}
#nav-co {
  grid-area: co;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#nav-co-te {
  grid-area: te3;
  width: 100%;
}
.nav-img {
  width: 9rem;
  border-radius: 0.2rem;
  border: 0.2rem solid var(--shade-purple);
}
h3 {
  font-size: 0.9rem;
  text-align: center;
  color: white;
  background-color: var(--shade-purple);
  padding: 0.1rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 0.2rem;
}
h3:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: hsl(300, 24%, 76%);
}
/* Section 800 content ************************/
#sec-drill {
  grid-area: two;
  border-radius: 0.2rem;
  background-color: var(--shade-lightgray);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 0.5rem;
}
.drill {
  font-size: 0.8rem;
  font-weight: bolder;
  border: 1px solid var(--shade-purple);
  color: var(--shade-purple);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  gap: 0.1rem;
}
.drill-img {
  width: 9rem;
  height: 12rem;
  margin: 0 auto;
  border: 2px solid var(--shade-purple);
}
.drill-a:hover {
  color: hsl(260, 30%, 64%);
  transform: scale(1.1);
}
/* Footer ************************/
footer {
  grid-area: three;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--shade-borderblue);
  color: white;
  width: 100%;
  border-radius: 0.2rem;
}
h6 {
  font-size: 0.8rem;
}
#footer-a {
  font-size: 0.8rem;
  color: white;
}
#footer-a:hover {
  color: hsl(300, 24%, 76%);
  transform: scale(1.1);
}
/* Media Queries ************************/
@media (min-width: 500px) {
  main {
    width: 475px;
  }
  h3 {
    width: 80%;
  }
}
@media (min-width: 600px) {
  main {
    width: 570px;
  }
  h3 {
    width: 70%;
  }
}
@media (min-width: 700px) {
  main {
    width: 665px;
  }
  h3 {
    width: 60%;
  }
}
@media (min-width: 800px) {
  main {
    width: 760px;
  }
  #traez {
    width: 9rem;
  }
  .nav-img {
    width: 12rem;
    border-radius: 0.2rem;
    border: 0.2rem solid var(--shade-purple);
  }
  h1 {
    font-size: 1.2rem;
  }
  span {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 0.9rem;
  }
  a {
    font-size: 0.9rem;
  }
}
@media (min-width: 1000px) {
  main {
    width: 950px;
  }
  h3 {
    font-size: 1.1rem;
    width: 50%;
  }
}
